<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab3</title>
</head>
<body>
<h1>Нахождение корней квадратного уравнения</h1>
<h1>Тип формулы ax<sup>2</sup>+ bx + c = 0</h1>
<form action="" method="post">
    <input type="text" name="a" placeholder="Введите значение а">
    <input type="text" name="b" placeholder="Введите значение b">
    <input type="text" name="c" placeholder="Введите значение c">
    <input type="submit" value="Решить">
</form>
<h1>{{data}}</h1>
</body>
</html>